@import url(../fonts/homewell.css);

body {
	font-family: 'Raleway', sans-serif;
}

* {
	text-decoration: none !important;
	outline: 0;
}

::selection {
	color: #fff;
	background: #008BCD;
}

.header-fluid {
	background: #fff;
	box-shadow: 0px 3px 6px #00000029;
}

.btn.btn-primary {
	background: #008BCD !important;
	color: #fff !important;
	border: 2px solid #008BCD !important;
	border-radius: 50px;
	min-width: 180px;
	font-size: 22px;
	font-weight: 500;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	box-shadow: none !important;
	outline: 0 !important;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active {
	background: transparent !important;
	color: #008BCD !important;
	border: 2px solid #008BCD !important;
}
.btn.btn-secondary {
	background: #AF231C !important;
	color: #fff !important;
	border: 2px solid #AF231C !important;
	border-radius: 50px;
	min-width: 180px;
	font-size: 22px;
	font-weight: bold;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	box-shadow: none !important;
	outline: 0 !important;
}
.btn.btn-secondary:hover,
.btn.btn-secondary:focus,
.btn.btn-secondary:active {
	background: transparent !important;
	color: #AF231C !important;
	border: 2px solid #AF231C !important;
}

.hw_title {
    margin: 0 0 45px;
    color: #004976;
}
.hw_title h2 {
    font-family: 'Raleway', sans-serif;
    color: inherit;
    font-weight: 700;
    font-size: 45px;
}

.header-fluid {
	padding: 0 5vw;
}

a.hw_logo.navbar-brand img {
	width: 300px;
	height: 60px;
}
li.nav-item a {
	color: #004976 !important;
	font-size: 22px;
	font-weight: 500;
}
li.nav-item.active a {
	color: #004976 !important;
}


footer#hw_footer {
	background: #004976;
}
footer#hw_footer .hw_copyright {
	background: #fff;
	padding: 15px 0;
}
footer#hw_footer .hw_copyright p,
footer#hw_footer .hw_copyright a {
	margin: 0;
	color: #004976;
	font-size: 14px;
}
.hw_footer_logo img {
	width: 300px;
}
footer#hw_footer .hw_footer_main p {
	font-size: 16px;
	color: #fff;
	margin: 20px 0 55px;
}
footer#hw_footer .hw_footer_main h5 {
	color: #fff;
}
footer#hw_footer .hw_footer_main a {
	color: #fff;
	text-decoration: none;
}
footer#hw_footer .hw_footer_main a:hover {
	color: #008BCD;
}
footer#hw_footer .hw_footer_main .hw_socialLinks  a i {
	color: #fff;
	font-size: 22px;
}
footer#hw_footer .hw_footer_main .hw_socialLinks  a:hover i:before,
footer#hw_footer .hw_footer_main .hw_socialLinks  a:focus i:before,
footer#hw_footer .hw_footer_main .hw_socialLinks  a:active i:before {
	color: #008BCD;
	font-size: 22px;
}

.hw_mainContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
}
.hw_mainContent h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: 54px;
    color: #004976;
    line-height: 1;
}
.hw_mainContent p {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 40px;
    margin: 40px 0;
    color: #646464;
}
.hw_experts_content {
    padding-bottom: 60px;
}
figure.hw_mainImage {
    margin: 0;
    height: 100%;
}
.hw_findCare input.form-control {
    box-shadow: 0px 0px 10px #00000029;
    border: 1px solid #707070;
    min-height: 60px;
    border-radius: 50px;
    padding-left: 25px;
}

.hw_findCare button.btn.btn-outline-secondary {
    background: #008BCD;
    border-color: #008BCD;
    border-radius: 50px;
    margin-left: -50px;
    color: #fff;
    padding: 0 35px;
    z-index: 999;
	box-shadow: none !important;
	outline: 0 !important;
	font-weight: 500;
}

section#hw_howWeHelp {
    background: #f3f3f3;
    padding: 100px 0 100px;
}
article.hw_howWeHelp_content h3 {
    font-family: 'Raleway', sans-serif;
    color: #004976;
    font-size: 22px;
    font-weight: 700;
}
article.hw_howWeHelp_content p {
    font-family: 'Raleway', sans-serif;
    color: #646464;
    font-size: 18px;
    font-weight: 400;
    margin: 25px 0 0;
}
.hw_howWeHelp_icon i {
    font-size: 60px;
}
.hw_howWeHelp_icon {
    margin: 0 0 30px;
}
article.hw_howWeHelp_content {
    margin-bottom: 15px;
}
.hw_howWeHelp_col .hw_howWeHelp_wrap {
    padding: 20px;
	transition: all ease 0.3s;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
}
.hw_howWeHelp_col:hover {
	cursor: pointer;
}
.hw_howWeHelp_col:hover .hw_howWeHelp_wrap {
	box-shadow: 0px 3px 15px #00000029;
	background: #fff;
	transition: all ease 0.3s;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
}

.hw_howWeHelp_more a {
    font-family: 'Raleway', sans-serif;
    color: #008BCD;
    font-size: 17px;
    font-weight: 600;
}
.hw_howWeHelp_more {
    opacity: 0;
    transition: all ease 0.3s;
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
}
.hw_howWeHelp_col:hover .hw_howWeHelp_more {
    opacity: 1;
    transition: all ease 0.3s;
    transform: translateY(0px);
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
}


section#hw_awards {
    padding: 100px 0 200px;
    background-image: url(../images/footer_graphics.png);
    background-size: contain;
    background-repeat-y: no-repeat;
    background-position: bottom;
}
.hw_awards_slider .hw_awards_slide figure {
    min-height: 130px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hw_awards_slider .hw_awards_slide img {
    max-width: 120px;
}
.slick-dots li.slick-active button:before {
    color: #004976;
    font-size: 14px;
}
.slick-dots li button:before {
    color: #C7C9C7;
    font-size: 14px;
}

section#hw_exploreMore {
    background: #F7F7F7;
    padding: 100px 0 150px;
}
.hw_exploreMore_title {
    margin-bottom: 20px;
}
.hw_exploreMore_wrap .hw_exploreMore_icon i {
    display: inline-flex;
    font-size: 50px;
    width: 120px;
    height: 120px;
    background: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: -60px;
}
.hw_exploreMore_col:nth-child(3n + 2) .hw_exploreMore_wrap .hw_exploreMore_icon {
    background-color: #008BCD;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.hw_exploreMore_col:nth-child(3n) .hw_exploreMore_wrap .hw_exploreMore_icon {
    background-color: #EA7600;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.hw_exploreMore_col:nth-child(3n + 1) .hw_exploreMore_wrap .hw_exploreMore_icon {
    background-color: #93C90E;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.hw_exploreMore_col:nth-child(3n + 2) .hw_exploreMore_wrap .hw_exploreMore_icon i {
    border: 4px solid #008bcd;
}
.hw_exploreMore_col:nth-child(3n) .hw_exploreMore_wrap .hw_exploreMore_icon i {
    border: 4px solid #EA7600;
}
.hw_exploreMore_col:nth-child(3n + 1) .hw_exploreMore_wrap .hw_exploreMore_icon i {
    border: 4px solid #93C90E;
}
.hw_exploreMore_wrap {
    background-color: #fff;
}
.hw_exploreMore_content h3 {
    font-family: 'Raleway', sans-serif;
    color: #004976;
    font-size: 24px;
    font-weight: 700;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.hw_exploreMore_content p {
    margin: 35px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #646464;
    font-weight: 500;
}
.hw_exploreMore_content {
    padding: 80px 0 40px;
    box-shadow: 0px 0px 15px #00000029;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}


section#hw_homecareRight {
    padding: 150px 0 100px;
}
.hw_homecareRight_accordion .card {
    background: transparent;
    border: 0;
}
.hw_homecareRight_accordion .card-header {
    background: transparent;
    border-radius: 0;
    padding: 25px 0;
}
.hw_homecareRight_accordion .card-body {
    padding: 30px 0;
}
.hw_homecareRight_accordion .card-header button.btn.btn-link {
    font-family: 'Raleway', sans-serif;
    color: #004976;
    font-size: 18px;
    font-weight: 700;
    padding: 0;
}
.hw_homecareRight_accordion .card-body a.btn.btn-primary {
    font-size: 14px;
    width: auto;
    min-width: auto;
    padding: 5px 20px;
}
.hw_homecareRight_accordion .card-body p {
    color: #646464;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 2.5;
}
.hw_homecareRight_img figure img {
    width: 100%;
    height: auto;
    box-shadow: 0px 3px 15px #00000029;
}
.hw_homecareRight_accordion .card-header h5 {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.hw_homecareRight_accordion .card-header button.btn.btn-link[aria-expanded="true"] + span {
	opacity: 0;
	transition: all ease 0.3s;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
}
.hw_homecareRight_accordion .card-header button.btn.btn-link[aria-expanded="false"] + span {
    opacity: 1;
	transition: all ease 0.3s;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
}

section#hw_testimonials {
    padding: 100px 0 0;
    background: #004976;
}
.hw_testimonials_slider .slick-dots li button:before {
    color: #fff;
    font-size: 14px;
    opacity: 1;
}
.hw_testimonials_slider .slick-dots li.slick-active button:before {
    color: #008BCD;
    font-size: 14px;
    opacity: 1;
}
.hw_testimonials_slider ul.slick-dots {
    bottom: -40px;
    text-align: left;
    left: 90px;
}
.hw_testimonials_slider .hw_testimonials_slide {
    display: flex;
    justify-content: space-between;
}
.hw_testimonials_slider .hw_testimonials_slide i {
    display: block;
    font-size: 48px;
    margin-right: 40px;
}
.hw_testimonials_slider .hw_testimonials_slide p {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}
.hw_testimonials_img figure {
    margin: 0 0 -65px;
}

section#hw_experience {
    background: #fff;
    padding: 100px 0 120px;
}
.hw_experience_title p {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #646464;
    font-size: 22px;
    font-weight: 500;
}
.hw_experience_title {
    margin: 0 0 40px;
}
.hw_experience_image {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}
.hw_experience_image a.hw_experience_play {
    position: absolute;
    top: 0;
    bottom: 70px;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 90px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0,0, 0.2);
}
.hw_experience_image figcaption {
    background: #004976;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: #fff;
    font-weight: 500;
}
.hw_experience_quote {
    display: flex;
    margin: 50px 0 0;
}
.hw_experience_quote p {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #004976;
    margin: 0 0;
}
.hw_experience_quote i {
    font-size: 42px;
    margin-right: 30px;
}


section#hw_benefits {
    background: rgba(199, 201, 199, 0.1);
    padding: 130px 0 0;
}
.hw_benefits_image figure {
    margin: 0;
}
.hw_benefits_content p {
    font-family: 'Raleway', sans-serif;
    color: #646464;
    font-size: 18px;
    line-height: 35px;
    margin: 0 0 50px;
}

section#hw_experts {
    background: #fff;
    padding: 100px 0 0;
}
.hw_experts_image {
    position: relative;
}
.hw_experts_image:before {
    content: '';
    background-image: url(../images/experts_bg.png);
    display: block;
    position: absolute;
    bottom: 0;
    left: -200px;
    right: 0;
    top: 0;
    height: 100%;
    width: calc(100% + 180px);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 80% 70%;
}
.hw_experts_content p, .hw_experts_content ul {
    font-family: 'Raleway', sans-serif;
    color: #646464;
    font-size: 18px;
    line-height: 35px;
    margin: 0 0 30px;
}
.hw_experts_image figure {
    margin: 0;
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-end;
}
.hw_experts_image figure img {
    width: 80%;
    z-index: 99;
}